.command-center-menu::before{
  clear: both;
}
.command-center-menu{
  width: 100%;
  position: relative;
}
.command-center-menu ul{
  width: max-content;
  list-style-type: none;
  padding: 0;
  transform: translateY(-70%);
  position: absolute;
  z-index: 9999;
}

.command-center-menu ul li{
  color: #fff;
  font-family: 'Graphik Black';
  width: 350pt;
  font-size: 24pt;
  padding: 18pt 15pt;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-size: 100%;
}

.command-center-menu ul li:not(:last-child){
  margin-bottom: 3rem;
}

.command-center-menu ul li:hover {
  cursor: pointer;
}
.command-center-panel .menu-content{
  position: absolute;
  height: 800px;
  width: 100%;
  font-family: 'Graphik Black';
}