.menu-content .submenu{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.menu-content .submenu .item{
  float: left;
  width: max-content;
  padding: 1rem;
  background-color: #00baff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.menu-content .submenu .item.active{
  background-color: #004DFF
}
.menu-content .submenu .item:not(:last-child){
  margin-right: 1rem;
}

.menu-content .charts > div{
  float: left;
  padding-top: 1rem;
}
.rsm-marker{
  outline: none;
}