.command-center-panel.right{
  position: relative;
}
.command-center-panel.right::after{
  clear: both;
}
/* .command-center-panel.right > div{
  margin-right: 100pt;
} */

.command-center-panel.right > div.live-data{
  width: 450pt;
  position: absolute;
  top: 1%;
  left: 25%;
  /* border: 1px solid rgba(0,0,0, 0.5); */
  /* padding: 0.5% 1% 0.5% 1%; */
}
/* .command-center-panel.right > div.live-data > div:nth-child(1) > div{
  background-image: url('/ui-assets/images/buttons/kpis/CLIENT_SERVED.png')
}
.command-center-panel.right > div.live-data > div:nth-child(2) > div{
  background-image: url('/ui-assets/images/buttons/kpis/BUS_OUTCOMES.png')
}
.command-center-panel.right > div.live-data > div:nth-child(3) > div{
  background-image: url('/ui-assets/images/buttons/kpis/POWEREDBY.png')
}
.command-center-panel.right > div.live-data > div > div{
  font-size: 22pt;
  font-family: 'Graphik Black';
  background-size: 100% 100%;
  padding: 15pt;
} */
.command-center-panel.right > div.live-data div ul{
  list-style: none;
  line-height: 25pt;
  font-size: 20pt;
  margin: 10pt -0.5em
}
.command-center-panel.right > div.live-data div ul li{
  position: relative
}
.command-center-panel.right > div.live-data div ul li::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #00BAFF; /* Change the color */
  font-size: 1em;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */

}
.command-center-panel.right > div.live-data div ul li span:nth-child(1){
  color: #00BAFF;
}

.command-center-panel.right > div.live-notification{
  width: 542pt;
  position: absolute;
  top: 1%;
  right: 30pt;
}
/* 
.command-center-panel.right > div.live-notification > div:nth-child(1){
  width: max-content;
  position: relative;
  display: inline-flex;
}
.command-center-panel.right > div.live-notification > div:nth-child(1) .blink{
  height: 20pt;
  width: 20pt;
  transform: translate(8pt, 10pt);
  animation-name: unset;
}
.command-center-panel.right > div.live-notification > div:nth-child(1) .label{
  width: max-content;
  font-size: 2rem;
  margin-left: 20pt;
}
.command-center-panel.right > div.live-notification > div:nth-child(2){
  margin-top: 10pt;
  height: 320pt;
  overflow: hidden;
} */
@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  height: 15pt;
  width: 15pt;
  background-color: rgb(253, 182, 20);
  text-decoration: blink;
  animation-name: blinker;
  animation-duration: 2s;
	-webkit-animation-name: blinker;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
  animation-direction: alternate;
	-webkit-animation-direction: alternate;
}
.command-center-panel.right > div.live-data > div.business-outcomes ul li:nth-child(2n)::before, .command-center-panel.right > div.live-data > div.powered-by ul li:nth-child(2n)::before{
  content: '';
  color: #fff !important;
}
.command-center-panel.right > div.live-data > div.business-outcomes ul li:nth-child(2n) span, .command-center-panel.right > div.live-data > div.powered-by ul li:nth-child(2n) span{
  color: #fff;
}

.command-center-panel .kpi-container{
  width: 1400px;
  height: 454px;
  /* width: 46.5%; */
  position: absolute;
  top: 48px;
  left: 25.07%;
  background-color: #969696;
  z-index: 1;
}
.command-center-panel .kpi-container .kpi-name{
  font-size: 24pt;
  font-weight: bolder;
}
.command-center-panel .kpi-container img.source{
  width: 100%;
  height: 100%;
}

.command-center-panel .kpi-container img.close{
  position: absolute;
  top: 1px;
  right: 1px;
  width: 45pt;
}