/* SYMON DATA STYLES */

.command-center-panel .live-notification .notification{
  font-family: 'Graphik Black';
  font-size: 20px;
}
.command-center-panel .live-notification .notification > div:not(:last-child){
  margin-bottom: 2pt;
  position: relative;
}
.command-center-panel .live-notification .notification > div > div {
  display: table;
  width: 100%;
}
.command-center-panel .live-notification .notification > div > div > div{
  display: table-cell;
}
.command-center-panel .live-notification .notification > div > div > div:nth-child(2){
  padding: 10pt 5pt 10pt 17pt;
}
.command-center-panel .live-notification .notification > div > div > div:first-child{
  width: 20pt;
}
/* XYMON DATA STYLES */

.command-center-panel .live-notification .notification .xymon > div:first-child{
  background-color: rgba(0, 186, 255, 1);
}

.command-center-panel .live-notification .notification .xymon > div > div{
  width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.command-center-panel .live-notification .notification .xymon > div > div:nth-child(3){
  -webkit-line-clamp: 2;
}


.command-center-panel .live-notification .notification .xymon > div:nth-child(2){
  background-color: rgba(0, 186, 255, 0.25);
}
.command-center-panel .live-notification .notification .xymon > div > div.status, .command-center-panel .live-notification .notification .snow > div > div.status{
  border-radius: 50%;
  height: 20pt;
  width: 20pt;
  transform: translateY(6pt);
  position: absolute;
  right: 20pt;
}

/* SNOW DATA STYLES */
.command-center-panel .live-notification .notification .snow{
  height: 145px;
  font-family: 'Graphik Medium';
  vertical-align: middle;
}
.command-center-panel .live-notification .notification .snow > div:first-child{
  background-color: rgba(0, 255, 0, 1);
}

.command-center-panel .live-notification .notification .snow > div:nth-child(2){
  background-color: rgba(0, 255, 0, 0.25);
}

.command-center-panel .live-notification .notification .snow > div > div.status{
  background-color: rgb(0, 255, 0);
}
.command-center-panel .live-notification .notification .snow > div > div{
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: normal;
}
.command-center-panel .live-notification .notification .snow > div > div.title, .command-center-panel .live-notification .notification .go-live > div > div.title{
  -webkit-line-clamp: 2;
}
.command-center-panel .live-notification .notification .snow > div > div.data-row{
  -webkit-line-clamp: 1;
}
.command-center-panel .live-notification .notification .go-live{
  width: 95.5%;
  font-family: 'Graphik Medium';
}

.command-center-panel .live-notification .notification .go-live > div > div.data-row{
  -webkit-line-clamp: 3;
}


.command-center-panel .live-notification .notification .snow > div > div.status.not-ok{
  background-color: rgb(255, 182, 0);
}

/* GO LIVE DATA STYLES */

.command-center-panel .live-notification .notification .go-live > div:first-child{
  /* background-color: rgba(255, 255, 0, 1); */
}

.command-center-panel .live-notification .notification .go-live > div:nth-child(2){
  /* background-color: rgba(255, 255, 0, 0.25); */
}