.command-center-panel.maps{
  letter-spacing: 2px;
}
.command-center-panel.maps .filters{
  position: absolute;
  top: 50%;
  width: 430px;
  transform: translateY(-50%);
  z-index: 1;
}
.command-center-panel.maps .filters > .item {
  width: 100%;
}
.command-center-panel.maps .filters > .item > div:first-child{
  background-size: 100% 100%;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Graphik Black";
  cursor: pointer;
  text-transform: uppercase;
}
.command-center-panel.maps .filters > .item:not(:last-child){
  margin-bottom: 1rem;
}
.command-center-panel.maps .filters > .item .subfilter-dropdown {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin-top: 0.5rem;
}

.command-center-panel.maps .filters .item .subfilter-dropdown::-webkit-scrollbar{
  width: 26px;
  background-color: rgba(190, 190, 190, 0);
}

.command-center-panel.maps .filters .item .subfilter-dropdown::-webkit-scrollbar-thumb{
  width: 26px;
  background-color: #fff;
}

.command-center-panel.maps .filters .item .subfilter-dropdown > div {
  font-family: "Graphik Regular";
  font-size: 1.4rem;
  padding: 1rem 0rem 1rem 2rem;
  cursor: pointer;
  color: #fff;
  background-color: #001F73;
  overflow-wrap: break-word;
}

.command-center-panel.maps .filters .item .subfilter-dropdown > div.item.active{
  background-color: #008EFF;
  color: #FFF;
}
.command-center-panel.maps  .filters .item .subfilter-dropdown > .item:not(:last-child){
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.command-center-panel.maps .filters .item.active{
  background-image: url('/ui-assets/images/buttons/filter-active.png');
  color: #fff;
}

.command-center-panel.maps .filters .item.disabled{
  pointer-events: none;
}

.command-center-panel.maps .sub-filter{
  width: 430px;
  max-height: 400px;
  position: absolute;
  overflow: auto;

}
.command-center-panel.maps .sub-filter::-webkit-scrollbar{
  width: 26px;
  background-color: rgba(190, 190, 190, 0);
}

.command-center-panel.maps .sub-filter::-webkit-scrollbar-thumb{
  width: 26px;
  background-color: #fff;
}

.command-center-panel.maps .sub-filter .item{
  font-family: "Graphik Regular";
  font-size: 1.4rem;
  padding: 1rem 0rem 1rem 2rem;
  cursor: pointer;
  color: #fff;
  background-color: #969696;
  overflow-wrap: break-word;
}
.command-center-panel.maps .sub-filter .item.active{
  background-color: #004DFF;
  color: #FFF;
}
.command-center-panel.maps .sub-filter .item:not(:last-child){
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}