.maps .count-total{
  position: absolute;
  width: max-content;
  top: 55%;
  text-align: center;
}
.maps .count-total .switches{
  margin-bottom: 20px;
  text-align: center;
}
.maps .count-total .switches > div:not(:last-child){
  margin-right: 20pt;
}

.maps .count-total div.label{
  font-family: 'Graphik Black';
  font-size: 22.6772pt;
  margin-top: 20px;
}

.maps .count-total div.label-total{
  font-family: 'Graphik Black';
  font-size: 22.6772pt;
  margin-top: 10px;
}
.maps .count-total div.label-count{
  display: inline-flex;
}
.client-served-bottom  div.numbers{
  font-family: 'Graphik Black';
  font-size: 130%;
  margin-top: 20px;
  width: 70pt;
  height: 70pt;
  border-width: 5pt;
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(0,77,255);
  border-color: #fff;
  color: #fff;
}
.client-served-bottom .label-count > div:nth-child(3).disabled{
  background-color: #969696;
  border-color: #fff;
  color: #fff;
}
.client-served-bottom div.label-count > div:nth-child(4){
  color: #00BAFF;
  background-color: #fff;
  border-color: #00baff;
}
.client-served-bottom div.label-count > div:nth-child(4).disabled{
  background-color: #fff;
  color: #969696;
  border-color: #969696;
}
.maps .count-total div.label-count > div div, .maps .country-count .count > div div{
  width: max-content;
  line-height: 100%;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -60%);
}
.maps .count-total div.label-count > div:not(:last-child), .maps .country-count .count > div:not(:last-child){
  margin-right: 15px;
}
.maps .country-count{
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}
.maps .country-count .count{
  display: inline-flex;
}
.maps .country-count .count > div{
  font-family: 'Graphik Black';
  font-size: 110%;
  margin-top: 20px;
  width: 50pt;
  height: 50pt;
  color: #00BAFF;
  background-image: url(/ui-assets/images/machine_smallcircle.png);
  background-size: contain;
}

.maps .country-count .count > div:nth-child(2){
  color: #00D700;
  border-color: #00D700;
  background-image: url(/ui-assets/images/human_smallcircle.png);
}
.maps .country-count .label{
  font-size: 1.5rem;
  font-family: 'Graphik Black';
}

circle.loading{
  animation: 10s ease-in-out infinite circle-animation;
  stroke-linecap: round;
  stroke-dasharray: 20%;
  stroke-dashoffset: 80%;
}

@keyframes circle-animation {
  0%{
    stroke-dashoffset: 100%;
  }
  
  100% {
    stroke-dashoffset: 0%;
  }
}