.client-container {
  width: 1920px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000c4d;
  border: 2px solid #00b4ffa1;
  border-top: 0;
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
  height: 88px;
  text-align: center;
  z-index: 999;
}

.label-container {
  display: inline-flex;
  font-size: 1.5rem;
  padding-top: 20px;
}

.client-icon {
  width: 20px;
  height: 26px;
  margin-top: 2px;
}

.client-name {
  font-family: Arial;
      margin-top: 5px;
}

.ml-2 {
  margin-left: 1rem;
}