.sys-draggable {
  position: absolute;
  z-index: 99;
  width: 400px;
  height: 400px;
  top: -235px;
  bottom: 0;
  left: -140px;
  right: 0;
}

.sys-fab-container {
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 120px;
  bottom: 0;
  left: 90px;
  right: 0;
}

.fab-item-image {
  height:120px;
  width: 120px;
}

.fab-item-globe {
  height:30px;
  width: 38px;
}

.dashboard-refresh-icon {
  position: absolute;
  font-size: 18px !important;
  text-shadow: 0 0 5px #000;
}

.fab-item {
  background-color: #00073f !important;
  border: 2px solid #00b4ff !important;
  height: max-content !important;
  width: max-content !important;
  padding: 10px;
}

.fab-button {
  position: absolute !important;
  height: 80px !important;
  width: 80px !important;
  opacity: 100 !important;
  -webkit-transform: none !important;
  transform: none !important;
  z-index: 100;
}

.fab-button-main {
  animation: in 1s;
}

.fab-button-main:focus {
  animation: out 1s;
}

@keyframes in {
    from   { transform: rotate(0deg); }
    to { transform: rotate(360deg);}
}

@keyframes out {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.fab-exit {
  background-color: #8e0f06ed !important;
  bottom: 135px;
  right: 120px;
}

.fab-minimize {
  bottom: 165px;
  left: 40px;
}

.fab-refresh {
  bottom: 125px;
  left: 130px;
}

.fab-refresh-all {
  bottom: 30px;
  left: 165px;
}

.fab-clients {
  bottom: -65px;
  left: 130px;
}

i.fa {
  font-size: 25px;
  opacity: 100 !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}