.command-center-timestamp {
  color: white;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  padding: 5pt 30pt;
  position: fixed;
  z-index: -1;
}

.command-center-panel {
  display: inline-flex;
  overflow: hidden;
  height: 1080px;
}

.filter-checkbox-container{
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 10px
}
.filter-checkbox{
  width: 13px;
  height: 25px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg)  translate(11px, -7px);
  -ms-transform: rotate(45deg) translate(11px, -7px);
  transform: rotate(45deg) translate(11px, -7px);
}