*{
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  user-zoom: none;
}
  
@font-face{
   font-family: "Graphik Light";
   src: url("ui-assets/fonts/Graphik/Graphik-Light.ttf");
}
@font-face{
   font-family: "Graphik Regular";
   src: url("ui-assets/fonts/Graphik/Graphik-Regular.ttf");
}
@font-face{
   font-family: "Graphik Black";
   src: url("ui-assets/fonts/Graphik/Graphik-Black.ttf");
}
@font-face{
   font-family: "Graphik Medium";
   src: url("ui-assets/fonts/Graphik/Graphik-Medium.ttf");
}
html{
   font-family: "Graphik Black";
}
body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   /* background: radial-gradient(rgb(0,77,255), #000); */
   background-size: contain;
   background-color: #000;
   --column-one-width-size: calc( 100% / 12);
   color: white;
   font-family: 'Graphik Black';
   overflow: hidden;
   background-image: url(ui-assets/images/background.png);
}
code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",monospace;
}
div[class*="col"]{
   margin: 0;
   padding: 0;
}
.col-1{
   width: var(--column-one-width-size);
}

.col-2{
   width: calc( var(--column-one-width-size) * 2 );
}

.col-3{
   width: calc( var(--column-one-width-size) * 3 );
}

.col-4{
   width: calc( var(--column-one-width-size) * 4 );
}

.col-5{
   width: calc( var(--column-one-width-size) * 5 );
}

.col-6{
   width: calc( var(--column-one-width-size) * 6 );
}

.col-7{
   width: calc( var(--column-one-width-size) * 7 );
}

.col-8{
   width: calc( var(--column-one-width-size) * 8 );
}

.col-9{
   width: calc( var(--column-one-width-size) * 9 );
}

.col-10{
   width: calc( var(--column-one-width-size) * 10 );
}

.col-11{
   width: calc( var(--column-one-width-size) * 11 );
}

.col-12{
   width: calc( var(--column-one-width-size) * 12 );
}

@media only screen and (max-width: 1920px){
   body{
      --column-one-width-size: 1920px;
   }
   .col-sm-1{
      width: var(--column-one-width-size);
   }

   .col-sm-2{
      width: calc( var(--column-one-width-size) * 2 );
   }

   .col-sm-3{
      width: calc( var(--column-one-width-size) * 3 );
   }

   .col-sm-4{
      width: calc( var(--column-one-width-size) * 4 );
   }

   .col-sm-5{
      width: calc( var(--column-one-width-size) * 5 );
   }

   .col-sm-6{
      width: calc( var(--column-one-width-size) * 6 );
   }

   .col-sm-7{
      width: calc( var(--column-one-width-size) * 7 );
   }

   .col-sm-8{
      width: calc( var(--column-one-width-size) * 8 );
   }

   .col-sm-9{
      width: calc( var(--column-one-width-size) * 9 );
   }

   .col-sm-10{
      width: calc( var(--column-one-width-size) * 10 );
   }

   .col-sm-11{
      width: calc( var(--column-one-width-size) * 11 );
   }

   .col-sm-12{
      width: calc( var(--column-one-width-size) * 12 );
   }
}

.rsm-liness {
   stroke-dasharray: 100%;
   animation: dash 5s infinite linear;
   stroke-linecap: round;
}

@keyframes dash {
   from{
      stroke-dashoffset: 100%;
      stroke: #ff3c64;
   }
   to {
      stroke-dashoffset: 0;
      stroke: #00c878;
   }
}
.rsm-markers .rsm-marker circle.pulse-disk{
   /* fill: #ff3c64; */
   fill: rgb(178, 139, 25)

}
.rsm-markers .rsm-marker circle.pulse-disk.animate{
   fill: rgb(255, 216, 102);
}
/* .rsm-markers .rsm-marker:nth-child(2n) circle.pulse-disk{
   fill: rgb(253, 182, 20);
} */
.rsm-markers .rsm-marker circle[class*="pulse-circle"]{
   fill: transparent;
   /* stroke: #ff3c64; */
   stroke: rgb(178, 139, 25)
}
/* .rsm-markers .rsm-marker:nth-child(2n) circle[class*="pulse-circle"]{
   fill: transparent;
   stroke: rgb(253, 182, 20);
} */

.pulse-circle.animate {
   stroke: rgb(255, 216, 102) !important;
   animation: pulse 3s cubic-bezier(0.39, 0.54, 0.41, 1.5) infinite;
}

.pulse-circle-2.animate {
   stroke: rgb(255, 216, 102) !important;
   animation: pulse-2 3s cubic-bezier(0.39, 0.54, 0.41, 1.5) infinite;
}


@keyframes pulse {
   0% {
      r: 2;
   }
   50% {
      r: 8;
      opacity: 1;
   }
   99% {
      opacity: 0;
   }
   100% {
      opacity: 0;
      r: 8;
   }
}
@keyframes pulse-2 {
   0% {
      opacity: 1;
   }
   40% {
      opacity: 0;
   }
   49.99% {
      r: 8;
      opacity: 0;
   }
   50% {
      r: 2;
      opacity: 1;
   }
   100% {
      r: 8;
      opacity: 1;
   }
}
